.inline-photo {
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  margin: 2em;
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  max-width: 400px;
  width: 90%;
}

.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
}

.caption {
  display: block;
  background: white;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(15em);
  transition: transform 1s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
}

.caption.is-visible {
  opacity: 1;
  transform: translateX(0em);
}

.mobile-caption {
  display: none;
  opacity: 0;
  transition: opacity .3s .25s ease-out;
  margin-top: 20px;
}

.mobile-caption.is-visible {
  diplay: none;
  opacity: 1;
}

@media only screen and (max-width: 480px) {
  .inline-photo {
    margin: auto;
  }

  .mobile-caption {
    display: block;
  }

  .caption {
    display: none;
  }
}