@import 'rtyras-design';

.sidebar {
  background-color: $secondary-color;
  vertical-align: top;
  display: flex;
  flex: 0 0 15%;
  flex-direction: column;
}

.nav-item {
  background-color: $gray-overlay;
  display: flex;
  flex: 0;
  justify-content: flex-start;
  padding: 0.7rem 1.0875rem;
  // border-color: $primary-color;
  // border-bottom-style: solid;
  // border-width: 1px;
  margin: 0px;
  margin-bottom: 2px;
  color: white;
}

.nav-item:hover, .nav-item:active {
  background-color: $white-overlay;
  color: black;
}

.nav-item-active {
  background-color: $white-overlay;
  color: black;
}

.top {
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bottom {
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


@media only screen and (max-width: 480px) {
  .sidebar {
    flex-direction: row;
    overflow: hidden;
  }

  .nav-item {
    margin: 0px;
    margin-right: 2px;
    align-items: center;
    flex: 1;
  }

  .top {
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .bottom {
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #right {
    display: none;
  }
}